:root {
    --firstcolor: #181721;
    --gradient: -webkit-linear-gradient(left, #fc4e1b 0%, #f6b533 100%);
}

* {
    font-family: poppins;
    list-style: none;
}

html,
body {
    margin: 0;
}

.home {
    background-image: linear-gradient(rgba(27, 26, 37, 0.9), rgba(27, 26, 37, 0.9)), url(../images/miao-gengxin-466550-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

nav {
    position: fixed !important;
    width: 100%;
    z-index: 11;
}

.navbar-brand {
    margin-right: 0 !important;
}

nav .navbar-brand {
    padding: 25px 24px;
}

.navbar {
    background-color: var(--firstcolor) !important;
    align-items: flex-start;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: row-reverse;
    flex-basis: auto;
}


.navbar-nav > li > a {
    transition: .3s all;
    letter-spacing: 1px;
    padding: 30px 24px !important;
    font-size: 13px;
    font-weight: 600;
    color:
        #fff !important;
}

.navbar-nav > li > a:hover {
    color: #999999 !important;
    transition: .3s all;
}

.nav-item:hover .navbar-nav-inner {
    display: block;
    text-align: left;
}

.navbar-nav-inner {
    display: none;
    background-color:
        #1a1924;
    padding: 0;
    flex-direction: column;
    text-align: left;
}

.nav-item-inner a {
    font-size: 13px;
    color: #fff;
    display: list-item;
    list-style: none;
    padding: 15px 25px;
}

.nav-item-inner a:hover {
    text-decoration: none;
    background-color: #242331 !important;
}

.sub-main:hover .sub-sub {
    display: block;
}

.sub-sub {
    display: none;
    background-color:
        #1a1924;
    width: 100%;
    position: absolute;
    top: -50%;
    top: 0;
    right: -100%;
    padding: 0;
    list-style: none;
}

.sub-li {
    padding: 15px 25px;
    color: #fff;
    font-size: 13px;
}

.sub-li:hover {
    background-color: #242331;
    padding: 15px 25px;
    color: #fff;
    font-size: 13px;
}

.sidebar {
    display: none;
    font-size: 25px;
    color: #fff;
    float: right;
}

/* home-content*/
.home-content {
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
}

.home-content p {
    font-size: 20px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 89px;
    font-weight: 700;

}

.home-content a {
    padding: 13px 32px;
    letter-spacing: 1px;
    font-size: 14px;
    display: inline-block;
    font-weight: 600;
    background-image: linear-gradient(0deg, rgba(252, 78, 27, 0.9) 0%, rgba(246, 181, 51, 0.9) 100%) !important;
    transition: .3s all;
    color: #fff;
}

.home-content a:hover {
    text-decoration: none;
    box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.1);
    transition: .3s all;
}

.mouse {
    padding: 5px 3px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    border: 2px solid #fff;
    height: 44px;
    width: 28px;
}

.dot {
    border-radius: 100%;
    padding: 0;
    height: 7px;
    width: 7px;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    background-color: #fff;
    margin: auto;
    animation-name: dot;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes dot {
    0% {
        top: 8px;
    }

    100% {
        top: 25px;
    }
}


/*unique design*/

.unique {
    background-color: var(--firstcolor);
    color: #fff;
}

.unique .row {
    padding: 100px 0;
}

.unique-content {
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.unique-content h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}

.unique-content p {
    color: #ececec;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 300;
}

.diamond {
    font-size: 35px;
    background: -webkit-linear-gradient(left, #fc4e1b 0%, #f6b533 100%);
    -webkit-background-clip: text;
    color: transparent;
}


/*about us part*/
.about {
    background-image: linear-gradient(rgba(27, 26, 37, 0.9), rgba(27, 26, 37, 0.9)), url(../images/samuel-zeller-1605-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.about .row {
    padding: 100px 0;
}

.about h2 {
    font-size: 46px;
    font-weight: 700;
}

.about ul {
    padding: 0;
    margin: 50px 0;
}

.about ul li {
    display: inline-block;
    list-style: none;
}

.about ul li a {
    display: list-item;
    padding: 20px 30px;
    color: #999999;
    font-size: 14px;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

.a-special {
    color: #fff !important;
    background-image: -webkit-linear-gradient(left, #fc4e1b 0%, #f6b533 100%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.about p:nth-of-type(1) {
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
}

.about h3 {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.about h3 span .fas {
    font-size: 35px;
    background: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
}


.about .heading + p {
    font-size: 14px;
    color: #ececec;
}


/*HOW WE WORK*/


.work {
    background-color: var(--firstcolor);
    color: #fff;
    text-align: center;
}

.work h2 {
    font-size: 46px;
    font-weight: 800;
}

.work .row {
    padding: 80px 0;
}

.work p {
    font-size: 14px;
}

.work-heading {
    position: relative;
    display: flex;
    align-items: center;

}

.overlap .work-heading h3 {
    margin: 0;
    font-size: 78px;
    font-weight: 800;
    background: -webkit-linear-gradient(left, #fc4e1b 0%, #f6b533 100%);
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}

.overlap .work-heading p {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
}

.overlap .work-heading + p {
    color: #ececec;
    line-height: 1.7;
}

/*our team*/
.team {
    background-image: linear-gradient(rgba(27, 26, 37, 0.9), rgba(27, 26, 37, 0.9)), url(../images/zurem-meru-42585-unsplash.jpg);
    color: #fff;
}

.team .row {
    padding: 100px 0;
}

.team h2 {
    font-size: 46px;
    font-weight: 800;
}

.team-top h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    transform: rotate(-90deg);
    width: 256px;
    font-size: 45px;
    font-weight: 800;
    background: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
}

.team-top h3 span {
    -webkit-background-clip: text;
    width: 100%;
    float: right;
    background-image: var(--gradient);
    text-align: right;
}

.team h4 {
    font-size: 24px;
    font-weight: 700;
}

.team p {
    font-size: 14px;
}

.team-top + p {
    color: #ececec;
}

/*portfolio part*/
.portfolio {
    background-color: var(--firstcolor);
    color: #fff;
}
.portfolio>.row{
    padding: 100px 0 0 0;
}

.portfolio p{
    font-size: 14px;
}

.portfolio h2{
    font-size: 46px;
    font-weight: 800;
}

.inner-portfolio ul {
    list-style: none;
}

.portfolio-nav {
    background-color: #000;
}

.inner-portfolio ul li {
    display: inline-block;
}

.inner-portfolio ul li a {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    transition: .3s all;
    display: inline-block;
    padding: 20px 10px !important;
    color: grey;
}

.inner-portfolio ul li a:hover {
    color: #fff;
    transition: .3s all;
}

.portfolio-img {
    min-height: 340px;
    background-image: url(../images/oladimeji-odunsi-306172-unsplash.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.por2 {
    background-image: url(../images/nordwood-themes-359015-unsplash.jpg);
}

.por3 {
    background-image: url(../images/toa-heftiba-462478-unsplash.jpg);
}

.por4 {
    background-image: url(../images/pineapple-supply-co-224098-unsplash.jpg);
}

.por5 {
    background-image: url(../images/joey-pilgrim-251356.jpg);
}

.por6 {
    background-image: url(../images/colin-rex-403161-unsplash.jpg);
}

.por7 {
    background-image: url(../images/sead-dedic-582196-unsplash.jpg);
}

.por8 {
    background-image: url(../images/hugo-sousa-271796-unsplash.jpg);
}

.overview{
    padding: 50px 20px;
}

.overview h3{
    font-size: 42px;
    font-weight: 800;
}

.overview h3 span{
    background: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
}
.overview p{
    font-size: 24px;
    font-weight: 700;
}
.overview-main{
}
.overview-content{
    display: inline-block;
}

















.portfolio-img:hover {
    background-image: l
}

.portfolio-img:hover a {
    opacity: 1;
    transition: .2s all;
    background-color: rgba(27, 26, 37, 0.7);
}

.portfolio-img a {
    background-color: rgba(0, 0, 0, 0);
    transition: .2s all;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    opacity: 0;
    justify-content: center;
    padding: 65px;
}

.portfolio-img a h3 {
    font-weight: 800;
    font-size: 24px;
}

.portfolio-img a p {
    color: grey;
}



























/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mouse {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .home-content h1 {
        font-size: 35px;
        font-weight: 700;

    }

    .sidebar {
        display: block;
    }

    .navbar-nav {
        display: none;
        flex-direction: row;
    }

    .inner-border-bottom2 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
    }

    .about ul li {
        display: list-item;
        list-style: none;
    }

    .about h2 {
        font-size: 35px;
        font-weight: 700;
    }

    .about h3 {
        font-size: 20px;

    }

    .overlap .work-heading h3 {
        margin: 0;
        font-size: 70px;
        font-weight: 800;
        background: -webkit-linear-gradient(left, #fc4e1b 0%, #f6b533 100%);
        background-position: center;
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent;
    }

    .overlap .work-heading p {
        font-size: 20px;
    }

    .overlap {
        padding: 0;
        margin-top: 20px;
    }
    
    .overview-content p{
        font-size: 20px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .mouse {
        display: none;
    }

    .home-content h1 {
        font-size: 59px;
        font-weight: 700;

    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav > li > a {
        padding: 30px 15px !important;
    }

    .inner-border-bottom {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    .unique-content h3 {
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
